.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.header-title:hover{
    color: rgb(206, 101, 255);
    transition-duration: 0.5s;
}

.links {
    display: flex;
    align-items: center;
    font-weight: 800;
}

.links > p {
    margin: 0 0.5rem;
}

.links > p:hover {
    cursor: pointer;
    color: rgb(206, 101, 255);
    transition-duration: 500ms;
}