.hero{
    width: 100%;
    height: 50vh;
    background-color: red;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.hero-container {
    background-color: blue;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: bold;
}
