.hero{
    height: 40vh;
    /* border: 1px solid #fff; */
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.hero-container {
    /* border: 1px solid #fff; */
    margin: auto;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    /* border: 1px solid #fff; */
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    /* font-weight: bold; */
}
