.hero{
    height: 40vh;
    /* border: 1px solid #fff; */
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.hero-container {
    /* border: 1px solid #fff; */
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: bold;
}
