.projectList {
    /* border: 1px solid #fff; */
    padding: 50px;
    /* padding until screen gets to 600px wide */
}

.projectList-container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projectList-title {
    font-size: 1.2rem;
    font-weight: bold;
    /* border: 1px solid blue; */
    margin-bottom: 20px;
}
