

@font-face {
    font-family: 'cascSemi';
    src: url("./fonts/static/CascadiaCode-SemiBold.otf") format('opentype');
}

@font-face {
    font-family: 'cascBold';
    src: url("./fonts/static/CascadiaCode-Bold.otf") format('opentype');
}

body {
  margin: 0;
    font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
    /* border: red solid 1px; */
}